.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(38, 11, 247);
    height: 100vh;
}
.register__header {
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    width: 330px;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}
.register__headerText {
    width: 200px;
    font-size: 13px;
    line-height: 1.1;
}
.register__container {
    background-color: white;
    width: 330px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(211, 211, 211, 0.634);
    border-radius: 20px;
}
.register__containerUp {
    padding: 20px;
}
.register__containerUp > p {
    font-size: 12px;
    margin-top: 15px;
}
.register__containerUp >h1 {
    font-weight: 500;
    margin-bottom: 20px;
}
.register__containerUp > form > h5 {
    margin-bottom: 15px;
}
.map {
    display: flex;
    justify-content: center;
}
.map > input {
    display: flex;
    margin: 0 10px;
    padding: 5px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid lightgrey;
}
.map input[type=text]:focus {
    outline: 1px solid red;
}
.register__linkUp {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: rgb(67, 142, 255)
}
.register__linkUp > p {
    margin: 0 3px;
    color: black;
}
.register__linkUpLink {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: rgb(67, 142, 255);
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 20px;
}
.register__linkUpLink:visited {
    text-decoration: none;
}
.register__logo {
    width: 100px;
    object-fit: contain;
    margin: 20px 0;
}
.buttonR {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
} 
.buttonB {
    display: flex;
    margin-top: -50px;
    margin-left: 50px;
    justify-content: flex-start;
    align-items: center;
}
.register__registerButton {
    border-radius: 2px;
    color: white;
    width: 35%;
    height: 40px;
    border: 1px solid;
    border-radius: 4px;
}
.register__containerDown {
    display: flex;
    height: 70px;
    background: rgba(230, 235, 241, 0.468);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.register__bottomA {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0 20px;
    padding-bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.register__bottomA > h2 {
    font-size: 14px;
    margin-top: 5px;
}
.register__bottomA > p {
    font-size: 9px;
    font-weight: 700;
    color: rgb(149, 149, 149);
}
.register__bottomB {
    display: flex;
    margin-top: 15px;
    padding: 0 20px;
    padding-left: 40px;
    justify-content: flex-end;
    color: #1973fa;
    font-size: 22px;
    font-weight: 700;
}